@import "../../scss/variables.scss";

.tools-icons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: fit-content;
  margin: 0 auto;

  animation: fade-in 1s ease-out forwards;

  @include width1200 {
    margin-top: 50px;
  }

  @include width1337 {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 25px;

    .tool-icon:last-child {
      display: none;
    }
  }

  @include width768 {
    max-width: 100%;
    margin: 40px 0 0;
  }
}
