.page-fade-enter {
  opacity: 0;
}

.page-fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.5s !important;
  transition: opacity 0.4s 0.5s !important;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.4s !important;
  transition: opacity 0.4s !important;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111216;
  width: calc(100% - 140px);
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
  z-index: 20;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-container * {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-container :first-child {
  margin-right: auto !important;
}

.navbar-container .nav-link {
  position: relative;
  color: white;
  font-weight: 400;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0s linear, font-weight 0s linear;
  transition: all 0s linear, font-weight 0s linear;
}

.navbar-container .nav-link.active {
  font-weight: bold;
}

.navbar-container .nav-link .text {
  position: relative;
  z-index: 2;
}

.navbar-container .nav-link .triangle {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar-container .nav-link .triangle img {
  -webkit-filter: invert(78%) sepia(35%) saturate(835%) hue-rotate(192deg) brightness(91%) contrast(126%);
          filter: invert(78%) sepia(35%) saturate(835%) hue-rotate(192deg) brightness(91%) contrast(126%);
  width: 20px;
}

.navbar-container.small {
  height: 50px;
  opacity: 0.95;
}

.navbar-container.smaller {
  height: 40px;
  background-color: rgba(17, 18, 22, 0.5);
}

.navbar-container .burger-menu {
  display: none;
  position: absolute;
  top: 3px;
  right: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.navbar-container .burger-menu * {
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar-container .burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  border-radius: 10px;
}

.navbar-container .burger-menu.open .line:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar-container .burger-menu.open .line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-container .burger-menu.open .line:nth-child(3) {
  margin-top: -8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 850px) {
  .navbar-container {
    width: calc(100% - 60px);
    padding: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 0px !important;
    opacity: 1 !important;
    background-color: #111216 !important;
    padding-top: 50px;
  }
  .navbar-container .burger-menu {
    display: block;
  }
  .navbar-container .nav-link {
    margin: 10px 0 20px !important;
    opacity: 0;
    pointer-events: none;
  }
  .navbar-container .nav-link:first-child {
    margin-top: 40px !important;
  }
  .navbar-container.open {
    height: 250px !important;
    opacity: 1 !important;
  }
  .navbar-container.open .nav-link {
    opacity: 1;
    pointer-events: all;
    -webkit-transition: all 0.2s 0.2s ease-in, font-weight 0s linear !important;
    transition: all 0.2s 0.2s ease-in, font-weight 0s linear !important;
  }
}

@media (max-width: 576px) {
  .navbar-container .burger-menu {
    right: 0px;
  }
  .navbar-container .burger-menu .line {
    width: 20px;
  }
}

.mobile-cover {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 31, 37, 0.9);
  display: none;
}

@media (max-width: 850px) {
  .mobile-cover.show {
    display: block;
  }
}
/*# sourceMappingURL=navbar.css.map */