@import "../../../../scss/variables.scss";

.dropdown {
  background-color: color(secondary);
  margin: 0 5px 10px;
  border-radius: 20px;

  transition: all 0.5s ease-in-out;

  * {
    transition: all 0.5s ease-in-out, opacity 0.2s linear, font-size 0s linear !important;
  }

  .dropdown-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .dropdown-arrow {
      filter: invert(100);
      width: 20px;

      .reverse {
        transform: rotate(180deg);
      }
    }
  }
  overflow: hidden;

  .dropdown-body {
    overflow: hidden;
    text-align: left;
    height: 0;
    max-height: calc(100vh - 400px);

    .dropdown-body-content {
      .simplebar-content {
        padding: 10px 40px !important;
      }
      opacity: 0;

      .text-container {
        .link-container {
          opacity: 0;
        }

        .simplebar-component {
          max-height: calc(100vh - 400px);
        }
      }
    }
    @include width850 {
      max-height: calc(50vh - 140px);

      .dropdown-body-content {
        .text-container {
          .simplebar-component {
            max-height: calc(50vh - 140px);
          }
        }
      }
    }
  }

  &.open {
    * {
      transition: all 0.6s ease-in-out, opacity 0.3s 0.1s ease-out;
    }

    .dropdown-header {
      .dropdown-arrow {
        transform: rotate(180deg);
      }
    }

    .dropdown-body {
      .dropdown-body-content {
        opacity: 1;
      }
    }
  }

  @include width1337 {
    .dropdown-header {
      font-size: 16px;
    }
    .dropdown-body {
      font-size: 14px;
    }
  }

  @include width850 {
    margin: 5px 0;
    .dropdown-header {
      font-size: 14px;
      padding: 7px 30px;
    }
    .dropdown-body {
      font-size: 14px;
    }
  }
}
