.page-fade-enter {
  opacity: 0;
}

.page-fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.5s !important;
  transition: opacity 0.4s 0.5s !important;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 0.4s !important;
  transition: opacity 0.4s !important;
}

html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  overflow-x: hidden;
}

html * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1f25;
  color: white;
}

.container {
  padding: 100px 50px;
  margin: 0 auto;
  max-width: 1900px;
}

@media (max-width: 1337px) {
  .container {
    padding: 100px 50px;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 100px 20px;
  }
}

a {
  font-weight: bold;
  color: #b6bdff;
  -webkit-transition: all 0.1s linear !important;
  transition: all 0.1s linear !important;
}

a:hover {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

a:active {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.primary-link {
  font-size: 1.1em;
}

.secondary-link {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}

.secondary-link:hover {
  color: white;
}

.accent-color {
  color: #b6bdff;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 0.6em;
}

.text-medium {
  font-size: 0.8em;
}

.text-large {
  font-size: 1.2em;
}

.text-thin {
  font-weight: 200;
}

.title {
  margin: 50px 0 100px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.separator {
  width: 100%;
  height: 2px;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  .hide-mobile {
    display: none;
  }
}

.show-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .show-mobile {
    display: block;
  }
}

.faded {
  opacity: 0.7;
}

.CTA {
  margin: 40px auto 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #111216;
  background-color: #b6bdff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px -10px #b6bdff;
          box-shadow: 0px 0px 50px -10px #b6bdff;
}

.mb {
  margin-bottom: 20px !important;
}

.mt {
  margin-top: 20px !important;
}

.my {
  margin: 20px 0 !important;
}

.simplebar-track.simplebar-vertical {
  overflow: visible;
  height: 96%;
  top: 2%;
  right: 3px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  -webkit-transition: all 0s linear !important;
  transition: all 0s linear !important;
  overflow: visible;
  opacity: 0.7;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: #b6bdff;
  opacity: 1;
  width: 5px;
}

.text-container .simplebar-track.simplebar-vertical {
  right: 10px;
}

.spin {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.spin-slow {
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pop-in {
  -webkit-animation: pop-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: pop-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.pop-in-delayed {
  -webkit-animation: pop-in 0.4s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: pop-in 0.4s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: fade-in 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.fade-in-delayed {
  -webkit-animation: fade-in 0.4s 0.4s ease-out forwards;
          animation: fade-in 0.4s 0.4s ease-out forwards;
}

.fade-in-absolute {
  -webkit-animation: fade-in-absolute 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: fade-in-absolute 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-absolute {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes fade-in-absolute {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.link-animation {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: link-animation 0.4s 0.5s ease-out forwards;
          animation: link-animation 0.4s 0.5s ease-out forwards;
}

@-webkit-keyframes link-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes link-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=global.css.map */