@import "../../../scss/variables.scss";

.top-section {
  padding: 100px;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;

  .description {
    margin: 40px 40px 0 0;
  }

  .icons-container {
    width: fit-content;
  }

  @include width1850 {
    padding: 100px 50px;
    .my-name {
      font-size: 30px;
    }
  }

  @include width1337 {
    padding: 0px;
    grid-template-columns: 50% 50%;
    width: 740px;

    .description {
      margin-top: 100px;
      .my-name {
        font-size: 30px;
      }
    }
  }

  @include width768 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    .description {
      max-width: 400px;
      margin: 0;

    }
  }
}
